input{
    margin: 5px 0;
    padding: 5px 10px;
    width: 100%;
    border: #efe8e8 solid 1px;
    border-radius: 5px;
}

form{
    margin-left: 10px;
}

label{
    margin-top: 5px;
}

button{
    background: #2196f3;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    color: white;
}
div{
    width: 30%;
    float: left;
}
ul{
    width: 100%;
}